body {
  background: #333333;
  color: #000305;
  font-size: 87.5%;
  /* Base font size: 14px */
  font-family: "Trebuchet MS", Trebuchet, "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.429;
  margin: 0;
  padding: 0;
  text-align: left;
}

li {
  display: inline;
}

#left {
  position: absolute;
  top: 5%;
  /* min-height: 600px;
  min-width: 900px; */
  width: 98%;
  height: 100%;
}

#code {
  position: absolute;
  /* min-height: 350px;
  min-width: 400px; */
  left: 1%;
  top: 10%;
  width: 48%;
  height: 48%;
}

#result {
  position: absolute;
  /* min-height: 350px;
  min-width: 200px; */
  left: 1%;
  top: 60%;
  width: 24%;
  height: 48%;
  /* box-sizing: border-box; */
}

#compile {
  position: absolute;
  /* min-height: 350px;
  min-width: 200px; */
  left: 26%;
  top: 60%;
  width: 24%;
  height: 48%;
  /* box-sizing: border-box; */
}

#right {
  position: absolute;
  left: 51%;
  top: 5%;
  /* min-height: 600px;
  min-width: 900px; */
  width: 48%;
  height: 111%;
}

#chatgpt {
  position: absolute;
  /* min-height: 350px;
    min-width: 200px; */
  left: 1%;
  top: 9%;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
}

#launch-button {
  position: absolute;
  right: 0px;
}

.head-section {
  position: absolute;
  top: 0px;
  font-weight: bold;
}

#title-code {
  position: absolute;
  left: 5px;
}

/* #title-result {
  position: absolute;
  left: 5px;
}

#title-compile {
  position: absolute;
  left: 5px;
} */

#text-code,
#text-code-ace {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 80%;
}

#text-code-ace {
  padding: 2px;
  border: 1px solid rgb(169, 169, 169);
}

#text-result {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 80%;
}

#text-compile {
  position: absolute;
  top: 50px;
  width: 98%;
  height: 80%;
}

#title-chatgpt {
  position: absolute;
  left: 5px;
}

.hidden {
  display: none;
}

.navbar {
  background-color: #003060;
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoheader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 30px;
}

.logoheader img {
  height: 10vh;
  margin-right: 5px;
}