body {
  background: #e5e4df;
  color: #000305;
  font-size: 87.5%;
  /* Base font size: 14px */
  font-family: "Trebuchet MS", Trebuchet, "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.429;
  margin: 0;
  padding: 0;

}


.codeArea{
  width: 100%;
  margin: 0;
  padding: 0;
}

/* LEFT DIV */

#left {
  width: 50%;
  /* min-height: 600px;
  min-width: 900px; */
  float:left;
  height: 100%;
  background-color: brown;
}

#code {
  position: absolute;
  /* min-height: 350px;
  min-width: 400px; */
  left: 1%;
  top: 15%;
  width: 48%;
  height: 60%;
  background-color: blueviolet;
}

#result {
  position: absolute;
  /* min-height: 350px;
  min-width: 200px; */
  left: 1%;
  top: 60%;
  width: 24%;
  height: 48%;
  /* box-sizing: border-box; */
}

#compile {
  position: absolute;
  /* min-height: 350px;
  min-width: 200px; */
  left: 26%;
  top: 60%;
  width: 24%;
  height: 48%;
  /* box-sizing: border-box; */
}

#right {
  width: 50%;
  /* min-height: 600px;
  min-width: 900px; */
  height: 100%;
  float:left;
  background-color: #417fbc;
}

#chatgpt {
  position: absolute;
  /* min-height: 350px;
    min-width: 200px; */
  right: 1%;
  top: 15%;
  width: 48%;
  height: 60%;
  /* box-sizing: border-box; */
}

#chat-container{
  position: absolute;
  /* min-height: 350px;
    min-width: 200px; */
  right: 1%;
  top: 75%;
  width: 48%;
  height: 60%;
}

#message-input{
  width: 80%;
  border: 1px solid #777;
  border-radius: 20px;
  height: 25px;  
  padding: 5px;
}

#sendButton{
  width: 15%;
  border: 1px solid #777;
  border-radius: 20px;
  height: 25px;
}

#sendButton:hover{
  background-color: #777;
  color:#f1f1f1;
  cursor: pointer;
}



#launch-button {
  position: absolute;
  right: 0px; 
  border: 1px solid rgb(4, 66, 4);
  color: rgb(4, 66, 4);
  border-radius: 20px;
  height: 30px;
}


#launch-button:hover{
  background-color: rgb(4, 66, 4);
  color: #f1f1f1;
  cursor: pointer;
}


.head-section {
  position: absolute;
  top: 0px;
  font-weight: bold;
}

#title-code {
  position: absolute;
  left: 5px;
}

/* #title-result {
  position: absolute;
  left: 5px;
}

#title-compile {
  position: absolute;
  left: 5px;
} */

#text-code,
#text-code-ace {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 80%;
}

#text-code-ace {
  padding: 2px;
  border: 1px solid rgb(169, 169, 169);
}

#text-result {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 80%;
}

#text-compile {
  position: absolute;
  top: 50px;
  width: 98%;
  height: 80%;
}

#title-chatgpt {
  position: absolute;
  left: 5px;
}

.hidden {
  display: none;
}



/*NAVIGATION BAR*/
header{
  width: 100%;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #003060;
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.logoheader {
  width: 60%;
  float: left;
  margin:0;
}

.logoheader img {
  height: 10vh;
  margin-right: 5px;
}


/*Edit Buttons - 'revert to original' & 'save' */
.editButtons{
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40%;
 padding-right: 20px;
}

#original,#saveButton{
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  float: right;
}
#original{
  margin-left: 10px;
  border: 2px solid #2c649b;
  color:#2c649b;
}

#saveButton{
  margin-left: 10px;
  border: 2px solid rgb(4, 66, 4);
  color: rgb(4, 66, 4);
}

#original:hover{
  background-color: #2c649b;
  color: #f1f1f1;
  cursor: pointer;
}

#saveButton:hover{
  background-color: rgb(4, 66, 4);
  color: #f1f1f1;
  cursor: pointer;
}