{% block content%}

<head>
  <link rel="stylesheet" href="{{url_for("static",filename="css/login.css")}}">
</head>

<nav class="navbar">
  <a style="text-decoration: none" class="logoheader" href="/">
    <img src="{{url_for("static", filename="CodeLabLogo.png")}}">
  </a>
</nav>

<html lang="fr">
    <head>
        <title>WebDevTools</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/editor.css">
    </head>


    <body id="index" class="home">
        <div id="share-button">

           
        </div>
        
        <div id="content">
            <!-- ************  CODING ZONE  ************ -->
            <div id="code">
                <form method="POST" action="{{ target }}">
                    <div id="title-code" class="head-section">
                    Code Editor
                    </div>
                    <input id="save-button" class="head-section" type="submit" value="Save/Exit" name='save-button'/>
                    <input id="launch-button" class="head-section" type="submit" value="Launch" name='launch-button'   />
                    <input id="hint-button" class="head-section" type="submit" value="Hint" name="Hint" />
                    <input id="sol-button"class="head-section"  type="submit" value="Solution" name="Solution" />
                    <input id="cr-button" class="head-section" type="submit" value="Review Code" name="Review Code"/>

                    <textarea id="text-code" name="code" rows={{ rows }} cols={{ cols }}>
                        {{ code }}
                        </textarea><br/>
                    <div id="text-code-ace" class="hidden">{{ code }}</div>

                </form>
            </div>
            
            
            
            <div class="chat-container"style= "width:60%; min-height: 150px; background-color: rgb ;">
                <h1 class="heading">Code GPT</h1>
                <div class="chat-wrapper" >
                  <div id="chat-messages" class="chat-box" style=" min-height: 100px;"></div>
                </div>
            </div>
    

        </div>
        


        <div id="intro">
            
            <h3>{{ room_name }}</h3>
            <br></br>
            <pre style="white-space: pre-line;">{{ introduction }}</pre>
            <br></br>
            <pre style="white-space: pre-line;">{{ question }}</pre>
        </div>
<script src="{{ url_for('static', filename='ace/ace.js') }}"></script>
<script>
    // The Ace editor needs divs instead of textareas
    // So we hide the textarea and show a div instead
    var editorElement = document.getElementById("text-code");
    editorElement.classList.add("hidden");
    document.getElementById("text-code-ace").classList.remove("hidden");

    // Set up the editor
    var editor = ace.edit("text-code-ace");
    editor.setTheme("ace/theme/tomorrow");
    var language = ("{{ target }}" === "runpy") ? "python" : "c_cpp";
    editor.getSession().setMode("ace/mode/" + language);

            // Make sure we copy the content of the editor to the textarea before posting
            // its content to the server
            document.getElementById("launch-button").addEventListener("click", function () {
                editorElement.innerHTML = editor.getValue();
            });
           
           
        </script>
    </body>
</html>


{% endblock %}