{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<script src="static/js/home.js"></script>
<body>
  <div>
    <img class="home-background"
    src="{{url_for("static",filename="university_background.jpg")}}">
    <div class="right-div">
      <img class="homepage-slides"
      src="{{url_for("static",filename="pic1.jpg")}}"> <img
      class="homepage-slides" src="{{url_for("static",filename="pic2.jpg")}}" >
    </div>

    <!-- <h1 class="title1">INTRODUCING SEEK. 
              <span class="input-cursor"></span> 
            </h1> -->

    <h1>
      <a
        href=""
        class="typewrite"
        data-period="2000"
        data-type='[ "INTRODUCING CODE LAB" , "WRITTEN BY STUDENTS", "FOR STUDENTS" ]'
      >
        <span class="input-cursor"></span>
      </a>
    </h1>

    <!-- <h2 class="title2">
            </br></br></br>WRITTEN BY DEVELOPERS</br></br>FOR DEVELOPERS
            </h2>
             -->
    <div class="home-info">
      <h3>COLLABORATE. CODE. COMPILE.</h3>
    </div>
  </div>

  <footer class="footer-part">&copy; 2023 Seek. All rights reserved</footer>
</body>

<script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("homepage-slides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {
      myIndex = 1;
    }
    x[myIndex - 1].style.display = "block";
    setTimeout(carousel, 5000); // Change image every 5 seconds
  }
</script>

{% endblock %}
