{% extends "base.html" %} {% block title %}PROJECTS{% endblock %} {% block
  search %}
 
  {% endblock %} {% block content %}
  <link rel="stylesheet" href="static/css/projects.css" />
  <script src="static/js/projects.js"></script>
  
  <body>
    <br><br><br><br><br>
    <div class="allcourses-wrapper-1">
      <button type="button" class="collapsible">New Project</button>
      <div class="content">
        <form method="POST" id="roomID">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="room_name"
              name="room_name"
              placeholder="Room Name"
            />
          </div><br>
          <label for="room_language" id="languageID">Choose a Language:</label>
            <select id="room_language" name="room_language">
              <option value="python">Python</option>
              <option value="C">C</option>
              <option value="Cpp">C++</option>
            </select><br><br>
          <button type="submit" class="createNewBtn">Create New File</button>
        </form>
      </div>
    </div>
    <br>
    <div class="allcourses-wrapper-1">
      <button type="button" class="collapsible">Existing Projects</button>
      <div class="content">
        <table class="table table-striped-columns">
          <tr class="room-title">
            <th>Room ID</th>
            <th>Room Language</th>
            <th>Delete?</th>
          </tr>
          {% for room in room %}
          <tr class="room-child">
            <td>
              <a href="/session/{{room.id}}/{{room.room_language}}" target="_blank">
                {{room.room_name}}
              </a>
            </td>
            <td>{{room.room_language}}</td>
            <td>
              <button type="button" class="close" onClick="deleteRoom(`{{ room.id }}`)"> 
                <span aria-hidden="true">Yes</span>
              </button>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    
  </body>
  

  
  <style>
    body {
      background-image: url("static/university_background.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      color: black;
    }
    
  </style>
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
        });
    }
  </script>
  
  </body>
  
  
  
  {% endblock %}
  