{% extends "base.html" %} {% block title %}PROJECTS{% endblock %} {% block
  search %}
 
  {% endblock %} {% block content %}
  <link rel="stylesheet" href="static/css/projects.css" />
  <script src="static/js/projects.js"></script>
  
  <body>
    <br><br><br><br><br>
    <div class="allcourses-wrapper-1">
      <button type="button" class="collapsible">New Project</button>
      <div class="content">
        <form method="POST" id="roomID">
          
          <div class="mb-3">
            <label for="room_name" class="label1">Room Name</label><br>
            <input
              type="text"
              class="form-control"
              id="room_name"
              name="room_name"
              placeholder=""
            />
          </div> 
          <div class="mb-3">
            <label for="concept_name" class="label1">What concept would you like to learn?</label><br>
            <input
              type="text"
              class="form-control"
              id="concept_name"
              name="concept_name"
              placeholder="e.g. union find"
            />
          </div>
          
          <br>
          <label for="room_language" id="languageID">Choose a Language:</label>
            <select id="room_language" name="room_language">
              <option value="python">Python</option>
              <option value="C">C</option>
              <option value="Cpp">C++</option>
            </select><br><br>
          <button type="submit" class="createNewBtn">Create New File</button>
        </form>
      </div>
    </div>
    <br>
   
    
  </body>
  

  
  <style>
    body {
      background-image: url("static/university_background.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      color: black;
    }
    
  </style>
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
        });
    }
  </script>
  
  </body>
  
  
  
  {% endblock %}
  